html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.blog_section_main {
    height: 100%;
    width: 100%;
    background-image: url("res/photos/background.png");
}

.blog_section_main header {
    display: flex;
    justify-content: space-between;
}

.blog_section_main header .logo {
    color: white;
    font-size: 4vmax;
    margin: 1vw 0 0 5vw;
}

.blog_section_main header .navigation_bar {
    display: flex;
    margin-right: 5vw;
}

.blog_section_main header .navigation_bar button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vmax;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.blog_section_main header .navigation_bar button:hover {
    background-color: #ffffff;
    color: #3E86F5;
}

.blog_section_main .blog_section_1_title {
    color: #FFFFFF;
    font-size: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% 20% 0 20%;
    text-align: center;
}

.blog_section_main .blog_section_1_inscription {
    color: #FFFFFF;
    font-size: 1.5vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -5% 25%;
    text-align: center;
    line-height: 200%;
}

.blog_section {
    height: 100%;
    width: 100%;
    background-color: white;
}


.tab {
    display: none;
}
.tab.active {
    display: block;
}
#searching_section button.active {
    background-color: red;
    color: white;
}
#offers_section button.active {
    background-color: blue;
    color: white;
}
/* 
.searching {
    box-sizing: border-box;
    margin: -15vh auto 0;
    width: 80vw;
}

.searching #searching_section {
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.searching #searching_section button:hover {
    background-color: lightblue;
}

.searching .searching_section_content {
    padding: 5vmax;
    border: thin double white;
    height: fit-content;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
} */