html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    background-color: #E5E5E5;
}

.blog_section_main {
    height: 100%;
    width: 100%;
    background-image: url("res/photos/background.png");
}

.blog_section_main header {
    display: flex;
    justify-content: space-between;
}

.blog_section_main header .logo {
    color: white;
    font-size: 4vmax;
    margin: 3vmax 0 0 10vmax;
}

.blog_section_main header .navigation_bar {
    display: flex;
    margin-right: 5vw;
}

.blog_section_main header .navigation_bar button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vmax;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.blog_section_main header .navigation_bar button:hover {
    background-color: #ffffff;
    color: #3E86F5;
}

.blog_section_main .blog_section_1_title {
    color: #FFFFFF;
    font-size: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8vh 20vw 0 20vw;
    text-align: center;
}

.blog_section_main .blog_section_1_inscription {
    color: #FFFFFF;
    font-size: 1.5vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -5vh 25vw 0 25vw;
    text-align: center;
    line-height: 200%;
}

.blog_section {
    height: 120%;
    width: 100%;
    background-color: #E5E5E5;
}

/* SEARCHING SECTION */

#searching_section {
    box-sizing: border-box;
    margin: -15vh auto 0;
    width: 80vw;
}

#searching_section .searching {
    width: 18vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

#searching_section {
    width: 100%;
    height: auto;
}

#searching_section button {
    border: none;
    border-radius: 15px;
    width: 45%;
    height: 80%;
    margin: auto;
    font-size: 2.5vmin;
}

#searching_section button.active {
    background-color: rgba(62, 134, 245, 0.2);
    ;
}

#searching_section .searching button:hover {
    background-color: lightcyan;
}

#searching_section .content {
    padding: 5vmax;
    border: thin double white;
    height: fit-content;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* OFFERS SECTION */

#offers_section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 80%; */
}

#offers_section .title {
    font-size: 3vmax;
}

#offers_section .tab_section {
    background-color: white;
    border-radius: 10px;
    width: 22vw;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 250px;
    min-height: auto;
}

#offers_section .tab_section button {
    border: none;
    width: 30%;
    height: 6vh;
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
    font-size-adjust: inherit;
}

#offers_section .tab_section button.active {
    background-color: #3E86F5;
    color: white;
}

#offers_section .tab_section button:hover {
    background-color: lightblue;
}

#offers_section .content_section #team_tab {
    margin-top: 4vh;
}

#offers_section .content_section .content {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#offers_section .content_section #team_tab .offer {
    background-color: white;
    border-radius: 3vmax;
    display: flex;
    flex-direction: column;
    margin: 0 2%;
    padding: 1%;
}

#offers_section .content_section #team_tab .offer .main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
}

#offers_section .content_section #team_tab .offer .main img {
    width: 80%;
    height: auto;
}

#offers_section .content_section #team_tab .offer .main .date {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 0.5em;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

#offers_section .content_section #team_tab .offer .upper {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}

#offers_section .content_section #team_tab .offer .upper .type {
    border-radius: 5px;
    padding: 2%;
    background-color: #FCDDEC;
    color: #F178B6;
    font-size: 1.2vmax;
    height: 80%;
}


#offers_section .content_section #team_tab .offer .upper .duration {
    padding: 2%;
    color: rgba(0, 0, 0, 0.5);
}

#offers_section .content_section #team_tab .offer .mid {
    font-size: 1.5vmax;
    padding-left: 5%;
}

#offers_section .content_section #team_tab .offer .lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
}

#offers_section .content_section #team_tab .offer .lower button {
    background-color: #F2F6FF;
    border: none;
    border-radius: 10px;
    color: #3E86F5;
    padding: 0 7%;
    height: 8vh;
}

/* ACHIEVEMENTS SECTION */

.achievements {
    /* top: 20%; */
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    /* transform: translate(0%, 30%); */
    padding-top: 10%;
    padding-bottom: 5%;
}

.blog_section .achievements .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 10%; */
    flex-direction: column;
    padding: 0 2%;
}

.blog_section .achievements .box img {
    /* padding: 10%; */
    width: 70%;
    height: auto;
}


.blog_section .achievements .box h1 {
    /* width: 80%; */
    font-size: 3vmax;
}

.blog_section .achievements .box p {
    color: rgba(0, 0, 0, 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vmax;
    line-height: 200%;
}

.blog_section .achievements .box button {
    border: none;
    background-color: #3E86F5;
    color: white;
    line-height: 250%;
    padding: 2% 5%;
    border-radius: 10px;
}

/* DESTINATIONS SECTION */

#destinations_section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#destinations_section .title {
    font-size: 3vmax;
}

#destinations_section .tab_section {
    border-radius: 10px;
    width: 22vw;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 250px;
    min-height: auto;
}

#destinations_section .tab_section button {
    border: none;
    width: 30%;
    height: 6vh;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10px;
    font-size-adjust: inherit;
}

#destinations_section .tab_section button.active {
    background-color: white;
    color: #3E86F5;
}

#destinations_section .tab_section button:hover {
    background-color: lightblue;
}

#destinations_section .content_section {
    margin-top: 4vh;
}

#destinations_section .content_section .content {
    display: flex;
    align-items: center;
    gap: 20px; 
}

#destinations_section .content .destination {
    background-color: white;
    border-radius: 25px;
    padding: 1%;
}

#destinations_section .content .destination .image {
    display: flex;
    position: relative;
}

#destinations_section .content .destination .image img {
    display: block;
    max-width: 100%;
  }

#destinations_section .content .destination .image .rating {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: white;
    border-radius: 25px;
    padding: 0% 2%;
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    height: 10%;
}

#destinations_section .content .destination .name {
    font-weight: 600;
    font-size: 18px;
    padding-left: 10%;
}

#destinations_section .content .destination .location {
    display: flex;
    align-items: center;
    padding-left: 10%;
    color: rgba(0, 0, 0, 0.5);
}

/* RESPONDS SECTION */

.responds_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.responds_section .respond {
    padding: 3%;
    background-color: white;
    border-radius: 50px;
    width: 35%;
    height: auto;
}

.responds_section .respond .background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.responds_section .respond .content .text {
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}

.responds_section .respond .content .author {
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #3E86F5;
}

.responds_section .respond .result {
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;

    text-align: center;

    color: rgba(0, 0, 0, 0.5);
}

.responds_section .content .image {
    display: flex;
    position: relative;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.responds_section .content .image img {
    display: block;
    max-width: 100%;
  }

.responds_section .content .image .rating {
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: white;
    border-radius: 25px;
    padding: 0% 2%;
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    height: 20%;
}