html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    background-color: #E5E5E5;
}

.blog_section_main {
    height: 100%;
    width: 100%;
    background-image: url("res/photos/background.png");
}

.blog_section_main header {
    display: flex;
    justify-content: space-between;
}

.blog_section_main header .logo {
    color: white;
    font-size: 4vmax;
    margin: 3vmax 0 0 10vmax;
}

.blog_section_main header .navigation_bar {
    display: flex;
    margin-right: 5vw;
}

.blog_section_main header .navigation_bar button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vmax;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.blog_section_main header .navigation_bar button:hover {
    background-color: #ffffff;
    color: #3E86F5;
}

.blog_section_main .blog_section_1_title {
    color: #FFFFFF;
    font-size: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8vh 20vw 0 20vw;
    text-align: center;
}

.blog_section_main .blog_section_1_inscription {
    color: #FFFFFF;
    font-size: 1.5vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -5vh 25vw 0 25vw;
    text-align: center;
    line-height: 200%;
}

.blog_section {
    height: 100%;
    width: 100%;
    background-color: #E5E5E5;
}

/* SEARCHING SECTION */

#searching_section {
    box-sizing: border-box;
    margin: -15vh auto 0;
    width: 80vw;
}

#searching_section .searching {
    width: 18vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

#searching_section button {
    border: none;
    border-radius: 15px;
    width: 45%;
    height: 80%;
    margin: auto;
    font-size: 2.5vmin;
}

#searching_section button.active {
    background-color: rgba(62, 134, 245, 0.2);
    ;
}

#searching_section .searching button:hover {
    background-color: lightcyan;
}

#searching_section .content {
    padding: 5vmax;
    border: thin double white;
    height: fit-content;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* OFFERS SECTION */

#offers_section {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

#offers_section .title {
    font-size: 3vmax;
}

#offers_section .tab_section {
    background-color: white;
    border-radius: 10px;
    width: 22vw;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 250px;
    min-height: auto;
}

#offers_section .tab_section button {
    border: none;
    width: 30%;
    height: 6vh;
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
    font-size-adjust: inherit;
}

#offers_section .tab_section button.active {
    background-color: #3E86F5;
    color: white;
}

#offers_section .tab_section button:hover {
    background-color: lightblue;
}

#offers_section .content_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#offers_section .content_section #team_tab {
    margin-top: 4vh;
}

#offers_section .content_section #team_tab .offer {
    background-color: white;
    border-radius: 50px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#offers_section .content_section #team_tab .offer .main {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
}

#offers_section .content_section #team_tab .offer .main img {
    width: 90%;
    height: auto;
}

#offers_section .content_section #team_tab .offer .main .date {
    display: flex;
    align-items: center;
    width: 200%;
    transform: rotate(90deg);
    margin: 0;
}

